
/* Generic styles */
body, html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #222;
}
h1 {
  color: #FFF;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}
.select {
    color: white;
    float:left; 
  background: transparent;
   border: none;
   font-size: 1.2rem;
   height: 55px;
   padding: 5px; 
   width: 150px;
   text-align: right; 
}

#overall {
  background: #222;
  font-size: 1.5rem;
  vertical-align: middle;

}

.fakeInput {
  background: #222;
  border: 1px solid #222;
vertical-align: middle;
  border-radius: 3px;
  display: table;
  width:815px;
}

.input {
  vertical-align: middle;
  float:left; 
  font-size: 1.5rem;
  width: 500px; 
  height: 50px;
  border-radius: 3px;
}
.input:focus {
  outline: none;
  background: #FFF;
  box-shadow: none;
}

.departmentname{
  width:160px;
  display:inline-block;
  font-size:20px;
  vertical-align: middle;
  color: white;
}

button{
  vertical-align: middle;
  background:transparent;
  float:left;  
  height: 55px;
  font-size: 1.1rem;
  width: 80px;
  border: none
}

.button{
  color: white;
  background: gray;
  border: 2px solid #222;

  border-radius: 3px;
}




