/*
    searchpage.css
    Yanhan Lyu, Lucy Wu, 15 May 2016

    Styles for the search page of "search interesting events at Carleton" webapp
    for CS 257, Spring 2017. 
*/

body, html {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  margin:0;
  background: #222;
}

h1 {
  color: #FFF;
  padding: 10;
  font-size: 66px;
  line-height: 50px;
}

#wrapper{
  align-items: center;
  justify-content: center;
  width: all;
  height: all;
  background: #222;
  height:80%;
}

#middle_content {
  height:100%;
}

/* Box styles */
.eventsBox {
border: none;
padding: 10px;
font: 24px/36px sans-serif;
width: 500px;
height:100%;
float: left;
color: white;
background-color: #e7e7e7;
overflow: auto;
}

.listBox{
border: none;
padding: 10px;
font: 24px/36px sans-serif;
width: 500px;
height:100%;
float: left;
color: white;
background-color: #ccc;
overflow: auto;
}

#bottom_content {
  width: auto;
  height:20%;
}



table {
    border-collapse: collapse;
}

#overall {
  width: 90%;
  padding: 1rem;
  background: #222;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}


.fakeInput {
  background: white;
  border: 1px solid #d6dadc;
  border-radius: 3px;
  display: table;
  width: 1020px;
  vertical-align: middle;
}
.inputWrapper{
  display: table-cell;
  vertical-align: middle;
}
.input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0.5rem;
  font-size: inherit;
}
.input:focus {
  outline: none;
  background: #FFF;
  box-shadow: none;
}

.departmentname{
  width:129px;
  display:inline-block;
  font-size:1rem;
  color:#e7e7e7;
}



.button_addlist{
  background-color: gray; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    width:520px;
}

.button{
  vertical-align: middle;
  background:transparent; 
  height: 65px;
  font-size: 1.1rem;
  width: 80px;
  float:right; 
  color: white;
  background: gray;
  border: 2px solid #222;
  border-radius: 3px;
}

.select {
  background: transparent;
    float:right; 
   border: none;
   font-size: 1.2rem;
   height: 57px;
   padding: 5px; 
   width: 150px;
   text-align: right; 
}


/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
background: #f5f5f5;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #ccc;  
}

::-webkit-scrollbar-thumb:hover {
background: #999;  
}



