#gameView {
    -fx-background-image: url('/Users/yanhanlyu/Desktop/cs257assignments-YanhanLyu/Final/res/background.jpg');
    -fx-background-repeat: stretch;
    -fx-background-position: center center;

    }
}