<!DOCTYPE html>
<html>
<head>
    <title>Carleton Events</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='homepage.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='homepage.js')}}"></script>
</head>

<body>
   <form id ="overall" action = "/searchresults">
	  <h1>Search Interesting Events at Carleton</h1>
		  <div class="fakeInput">
		      <input type="text" id ="input" class="input" placeholder="Search for events!!">
	           
	           <select class="select">
	           		<option value = "" selected disabled>Year</option>
	           		<option value="2017">2017</option>
					 <option value="2018">2018</option>
	           </select>
	           <select class="select">
	           		<option value = "" selected disabled>Month</option>
	           		<option value="2017">01</option>
					 <option value="2018">02</option>
					 <option value="2017">03</option>
					 <option value="2018">04</option>
					 <option value="2017">05</option>
					 <option value="2018">06</option>
					 <option value="2017">07</option>
					 <option value="2018">08</option>
					 <option value="2017">09</option>
					 <option value="2018">10</option>
					 <option value="2017">11</option>
					 <option value="2018">12</option>

	           </select>
	           <select class="select">
	           		<option value = "" selected disabled>Day</option>
	           		<option value="2017">01</option>
					 <option value="2018">02</option>
					 <option value="2017">03</option>
					 <option value="2018">04</option>
					 <option value="2017">05</option>
					 <option value="2018">06</option>
					 <option value="2017">07</option>
					 <option value="2018">08</option>
					 <option value="2017">09</option>
					 <option value="2018">10</option>
					 <option value="2017">11</option>
					 <option value="2018">12</option>
					 <option value="2017">13</option>
					 <option value="2018">14</option>
					 <option value="2017">15</option>
					 <option value="2018">16</option>
					 <option value="2017">17</option>
					 <option value="2018">18</option>
					 <option value="2017">19</option>
					 <option value="2018">20</option>
					 <option value="2017">21</option>
					 <option value="2018">22</option>
					 <option value="2017">23</option>
					 <option value="2018">24</option>
					 <option value="2017">25</option>
					 <option value="2018">26</option>
					 <option value="2017">27</option>
					 <option value="2018">28</option>
					 <option value="2018">29</option>
					 <option value="2017">30</option>
					 <option value="2018">31</option>
	           </select>
	           <button type="button input" class="button" onclick="onButton()">Go!!</button>
		  </div>
  		<div>
		    <input class = "departmentCheckbox" type='checkbox' name='department' value='soccer'/>
		    <span class = "departmentname">Computer Science</span>
		    <input class = "departmentCheckbox" type='checkbox' name='department' value='Mathematics' />
		    <span class = "departmentname">Mathematics</span>
		    <input class = "departmentCheckbox" type='checkbox' name='department' value='Political Science' />
		    <span class = "departmentname">Political Science</span>
		    <input class = "departmentCheckbox" type='checkbox' name='department' value='Studio Art' />
		    <span class = "departmentname">Studio Art</span>
		</div>           
		<div>
		    <input class = "departmentCheckbox" type='checkbox' name='department' value='Music' />
		   	<span class = "departmentname">Music</span>
		    <input class = "departmentCheckbox" type="checkbox" name="department" value="Geology" />
		   	<span class = "departmentname">Geology</span>
		   	<input class = "departmentCheckbox" type='checkbox' name='department' value='History' />
		    <span class = "departmentname">History</span>
		    <input class = "departmentCheckbox" type='checkbox' name='department' value='Art History' />
		    <span class = "departmentname">Art History</span>
		</div>
		<div>
		    <input class = "departmentCheckbox" type='checkbox' name='department' value='Physics' />
		   	<span class = "departmentname">Chemistry</span>
		    <input class = "departmentCheckbox" type="checkbox" name="department" value="Chemistry" />
		   	<span class = "departmentname">Chemistry</span>
		   	<input class = "departmentCheckbox" type='checkbox' name='department' value='Philosophy' />
		    <span class = "departmentname">Philosophy</span>
		    <input class = "departmentCheckbox" type='checkbox' name='department' value='European Study' />
		    <span class = "departmentname">European Study</span>
		</div>
		<div>
		    <input class = "departmentCheckbox" type='checkbox' name='department' value='Bilolgy' />
		   	<span class = "departmentname">Biology</span>
		    <input class = "departmentCheckbox" type="checkbox" name="department" value="Economy" />
		   	<span class = "departmentname">Economy</span>
		   	<input class = "departmentCheckbox" type='checkbox' name='department' value='Psychology' />
		    <span class = "departmentname">Psychology</span>
		    <input class = "departmentCheckbox" type='checkbox' name='department' value='Ohters'/>
		    <span class = "departmentname">Others</span>
		</div>

		<p><table id="results_table"></table></p>

  		
	</form>
</body>
</html>
