
/* Generic styles */
body, html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #222;
}
h1 {
  color: #FFF;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

#overall {
  background: #222;
  font-size: 1.5rem;
  vertical-align: middle;

}

.fakeInput {
  background: white;
  border: 1px solid #d6dadc;
  border-radius: 3px;
  display: table;
  width:815px;
  
}

.input {
  vertical-align: middle;
  float:left; 
  font-size: 1.5rem;
  width: 500px; 
  height: 50px;
}
.input:focus {
  outline: none;
  background: #FFF;
  box-shadow: none;
}

.departmentname{
  width:160px;
  display:inline-block;
  font-size:20px;
  vertical-align: middle;
  color: white;
}

.button{
  vertical-align: middle;
  background:#e7e7e7;
  float:left;  
  height: 55px;
  font-size: 1.1rem;
  width: 80px;
}
.select{
  vertical-align: middle;
  float:left; 
  height: 55px;
  font-size: 1.1rem;
  width:75px;

}



