
/* Generic styles */

body, html {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px
  height: 500px
  background: #222;
}

#wrapper{
  align-items: center;
  justify-content: center;
  width: all;
  height: all;
  background: #222;
}

#top_content {
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 30%
}

h1 {
  color: #FFF;
  padding: 0;
  font-size: 35px;
  line-height: 50px;
}

#middle_content {
  width: auto;
  height: 60%
}

/* Box styles */
.eventsBox {
border: none;
padding: 10px;
font: 24px/36px sans-serif;
width: 600px;
height: 500px;
float: left;
color: white;
background-color: #e7e7e7;
overflow: auto;
}

.listBox{
border: none;
padding: 10px;
font: 24px/36px sans-serif;
width: 400px;
height: 500px;
float: left;
color: white;
background-color: #ccc;
overflow: auto;
}

#bottom_content {
  width: auto;
  height: 10%
}



table {
    border-collapse: collapse;
}

#overall {
  width: 90%;
  padding: 1rem;
  background: #222;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}


.fakeInput {
  background: white;
  border: 1px solid #d6dadc;
  border-radius: 3px;
  display: table;
  width: 400px;
  vertical-align: middle;
}
.inputWrapper{
  display: table-cell;
  vertical-align: middle;
}
.input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0.5rem;
  font-size: inherit;
  float:right;
}
.input:focus {
  outline: none;
  background: #FFF;
  box-shadow: none;
}

.departmentname{
  width:125px;
  display:inline-block;
  font-size:15px;
  color:#e7e7e7;
}

.button_go{
  background-color: #e7e7e7; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float:right;
}

.button_addlist{
  background-color: #e7e7e7; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
}

.eventCheckbox{
  width:160px;
  display:inline-block;
  font-size:20px;
  vertical-align: middle;
  color: white;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
background: #f5f5f5;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #ccc;  
}

::-webkit-scrollbar-thumb:hover {
background: #999;  
}



